<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
  </head>
  <body class="container mt-5">
    <div class="alert alert-info display-1 text-center">LISTADO DE CURSOS</div>

    {% if cursos %}
    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Horas</th>
          <th>Descripción</th>
          <th>Fecha Inicio</th>
          <th>Fecha de Fin</th>
          <th>Sección</th>
          <th>Profesor</th>
          <th>Alumnos</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for curso in cursos %}
        <tr>
          <td scope="row">{{ curso.codigo }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.horas }}</td>
          <td>{{ curso.descripcion }}</td>
          <td>{{ curso.fecha_inicio }}</td>
          <td>{{ curso.fecha_fin }}</td>
          <td>{{ curso.seccion }}</td>
          <td>{{ curso.profesor.nombre }}</td>
          <td>
            {% if curso.alumnos.all %}

            <ul>
              {% for alumno in curso.alumnos.all %}
              <li>{{ alumno.nombre }}</li>
              {% endfor %}
            </ul>

            {% else %}
            <p>No hay alumnos inscritos.</p>
            {% endif %}
          </td>

          <td>
            <a
              href="/actualizarCurso/{{ curso.id }}"
              class="btn btn-success btn-sm"
            >
              <i class="bi bi-pencil"></i>
            </a>
            <a
              href="/eliminarCurso/{{ curso.id }}"
              class="btn btn-danger btn-sm"
            >
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
      <strong>No se encuentran cursos registrados en el sistema.</strong>
    </div>
    {% endif %}

    <a href="../" class="btn btn-danger">VOLVER</a>
    <a href="/agregarCurso" class="btn btn-info float-end">AGREGAR CURSO</a>
  </body>
</html>
